@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,600");
@import url("'https://fonts.googleapis.com/css?family=Merriweather|Playfair+Display&display=swap'");

/* ------BODY------ */

body {
  background-color: rgba(255, 242, 170, 0.9);
  font-family: "Work Sans", sans-serif;
}

/* ------ LOGO ------ */

.top-bar-desktop .logo a {
  padding-top: 1em;
  margin: 0;
  font-weight: 600;
  letter-spacing: 0.15em;
  position: relative;
  size: 2em;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.85);
}





/* ------ CONTENTS ------ */

.website-contents {
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 3em;
}

/* ------NAVIGATION BAR------ */

.menu {
  display: inline;
}

.nav-wrapper ul {
  position: relative;
  align-self: left;
  font-size: 1.1em;
  font-weight: 400;
  background-color: rgba(255, 242, 170, 0.9);
  padding-right: 3em;
}

.nav-wrapper li {
  position: relative;
  align-self: left;
  display: inline;
  text-decoration: none;
  padding: 1em;
  float: right;
}

.nav-wrapper li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.85);
}
.nav-wrapper li a:hover {
  color: rgb(103, 163, 128);
}

.top-bar-mobile {
  display: none;
}

/* -----  WEBSITE CONTENTS -----*/

.website-contents h1 {
  letter-spacing: 0.07em;
  margin: 0;
}

/* ------ ABOUT ------ */

.website-contents .about {
  padding: 1.3em;
  background-color: rgba(250, 255, 249, 0.9);
  color: rgba(0, 0, 0, 0.85);
}

.animation img {
  height: 18%;
  width: 18%;
  float: right;
  padding-top: 2.5em;
  padding-right: 6em;
  opacity: 100%;
}

.website-contents .about h2 {
  color: rgb(74, 145, 103);
  margin: 0;
}

.about .about-paragraph {
  width: 60%;
}
.about p {
  line-height: 2em;
  font-size: 1.15em;
}

.website-contents .about .learn-more a {
  text-decoration: none;
  color: rgb(74, 145, 103);
}

.website-contents .about .learn-more a:hover {
  color: rgb(34, 95, 59);
}

/* ----- DESIGN ---- */

.website-contents .design {
  padding: 1.3em;
  background-color: rgba(250, 255, 249, 0.9);
  color: rgba(0, 0, 0, 0.85);
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0.5em;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 30%;
  float: left;
  padding-right: 2em;
}

.entry {
  padding-top: 2em;
}

.column img {
  margin-top: 0em;
  vertical-align: middle;
  width: 100%;
}

.column img:hover {
  opacity: 70%;
}

.column a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.85);
}

.column a:hover {
  color: rgb(103, 163, 128);
}

.column a:hover ~ #image {
  opacity: 70%;
}

.entry-container img {
  visibility: hidden;
}

.entry-container {
  background: url("assets/waterloo-eng-thumbnail.png");
  color: rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  transition: all 0.5s;
}

.entry-container:hover:before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(5, 0, 17, 0.7);
  transition: all 0.5s;
}

.entry-container:before {
    position: absolute;
    content:    "";
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.0);
    transition: all 0.5s;
}

.overlay-container {
  position: absolute;
  top: 50%;
  left: 50%;
}

.overlay-container2 {
  position: relative;
  margin-top: -40%;
  left: -50%;
  
}

.overlay-title {
  font-weight: 800;
  width: 100%;
  font-size: 1.2em;
}

.overlay-subtitle {
    font-weight: 300;
    width: 100%;
    font-size: 0.75em;
  }
.entry-container:hover {
  color:  rgba(250, 255, 249, 1);

}

.entry-container {
  background-color: black;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}



/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

 
  .column {
    flex: 100%;
    max-width: 100%;
  }

  

}

@media screen and (max-width: 500px)
 {
  .top-bar-mobile {
    display: block;
  }

  .nav-wrapper-mobile {
      float: left;
  }

  .nav-wrapper-mobile ul {
      position: relative;
      align-self: left;
      font-size: 1em;
      font-weight: 400;
      background-color: rgba(255, 242, 170, 0.9);
      float: left;
      padding-right: 0em;
      padding-left: 2em;
  }

  .nav-wrapper-mobile li {
    position: relative;
    align-self: left;
    display: inline;
    text-decoration: none;
    padding-right: 0.55em;
    padding-left: 0.55em;
    float: right;
  }
  
  .nav-wrapper-mobile li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.85);
  }
  .nav-wrapper-mobile li a:hover {
    color: rgb(103, 163, 128);
  }

  .animation {
      width: 0%;
      height: 0%;
  }

  .website-contents {
      width: 80%;
  }

  .website-contents .about-paragraph {
      width: 100%;
  }

  .top-bar-desktop {
    display: none;
  }
 }









/* ----- FOOTER ----- */

.footer .links nav {
  display: inline;
}

.footer .links ul {
  position: relative;
}

.footer .links li {
  position: relative;
  align-self: center;
  display: inline;
  padding: 1em;
  float: right;
}

.footer .links li a {
  text-decoration: none;
  margin: 0;
}

/* ----- SIGNATURE -----*/

.signature {
  padding: 3em;
}

.signature p {
  text-align: center;
}
